.flex-container {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.landing-header {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    rgb(98, 0, 255),
    rgb(173, 124, 241)
  );
  color: white;
}

.landing-body {
  display: flex;
  flex-grow: 1;
  max-width: 900px;
  width: 80%;
  align-self: center;
}

.landing-footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background: rgb(59, 57, 62);
  color: rgb(255, 255, 255);
}

.flex-container-box-one {
  display: flex;
  background-color: #7b7881;
  width: 100%;
  height: 78%;
  margin: 2%;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 20px;
  color: white;
  border: 4px solid #44a7e4;
  border-radius: 5px;
}

.flex-container-box-two {
  display: flex;
  background-color: #7b7881;
  width: 100%;
  height: 48%;
  margin: 2%;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 20px;
  color: white;
  border: 4px solid #44a7e4;
  border-radius: 5px;
}

.flex-container-box-three {
  display: flex;
  background-color: #7b7881;
  width: 100%;
  height: 28%;
  margin: 2%;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 20px;
  color: white;
  border: 4px solid #44a7e4;
  border-radius: 5px;
}

.flex-body-container-one {
  align-items: flex-start;
  display: flex;
  align-items: center;
  width: 50%;
}

.flex-body-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
